In [37]:
import pandas as pd
# ^^^ pyforest auto-imports - don't write above this line
# KNN ALgorithm Using Iris Dataset.

In [38]:
#Importing the Required Libraries.

from sklearn.datasets import load_iris

In [39]:
iris = load_iris()

In [40]:
#The Data in the Iris is in the Key value pairs.So,Changing into DatFrame

In [41]:
print(iris.keys())

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [42]:
df1= pd.DataFrame(iris['data'],columns=iris['feature_names'])

#Here In the DataFrame .There is No Target column and there is only Feature_names.

df1['target']=iris['target']

In [43]:
df1.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [44]:
df1.sample(5) #Now,DataFrame is Ready to Do operations on it.

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
101,5.8,2.7,5.1,1.9,2
89,5.5,2.5,4.0,1.3,1
11,4.8,3.4,1.6,0.2,0
108,6.7,2.5,5.8,1.8,2
92,5.8,2.6,4.0,1.2,1

In [45]:
#checking the NUll Values  in the Daataset.

df1.isnull().sum() #Here checking the No of null values and doing sum on it .To get the total Null values using sum().

#df1.isna().sum() #These Two are used to check the NUll values in the Dataset.

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [46]:
#Getting INformation about the Dataset.

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int32
dtypes: float64(4), int32(1)
memory usage: 5.4 KB

In [47]:
#Assigning Values of Independent and Dependent Values to the Variables.

X = df1.drop('target',axis=1) #df.iloc[:,o:4]


y = df1[['target']] #df1.iloc[:,4]

In [56]:
#Importing the Algorithm from sklearn.
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [57]:
#Creating the Object .

knn = KNeighborsClassifier(n_neighbors=5) #Taking n_neighbors.

In [58]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [59]:
knn.fit(X_train,y_train) #Training the Model.

C:\Users\NITHESH KUMAR\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [60]:
knn.score(X_train,y_train)*100

95.23809523809523

In [61]:
y_pred = knn.predict(X_test)

In [64]:
from sklearn.metrics import accuracy_score

In [68]:
print(y_pred[0:5])

y_test[0:5]

[1 0 2 1 1]

     target
73        1
18        0
118       2
78        1
76        1

In [69]:
accuracy_score(y_test,y_pred)

1.0

In [70]:
from sklearn.metrics import confusion_matrix

In [71]:
confusion_matrix(y_test,y_pred)

array([[19,  0,  0],
       [ 0, 13,  0],
       [ 0,  0, 13]], dtype=int64)