# <h1><center> Logistic Regression </center> </h1>

Def : Logistic regression is a statistical technique used to predict probability of binary response based 
        on one or more independent variables. It means that, given a certain factors, logistic regression is used to 
        predict an outcome which has two values such as 0 or 1, pass or fail, yes or no etc.
    
    
    2... Logistic regression is used to describe data and to explain the relationship between one dependent binary variable 
         and one or more nominal, ordinal, interval or ratio-level independent variables.
    
    
    
-----> Here  In Case of Logistic Regression the Target Varaible is a 0 or 1.(Yes / No ).

----->It is the Classification Technique .

In [1]:
      # PROGRAMME TO PERFORM THE LOSISTIC REGRESSION WITH PYTHON #

In [2]:
#importing the Required Libraries.

import numpy as np
import pandas as pd

In [5]:
#importing the Dataset.

df = pd.read_csv("https://raw.githubusercontent.com/IBM/telco-customer-churn-on-icp4d/master/data/Telco-Customer-Churn.csv")

In [6]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [8]:
#importing the ML model from sklearn.

#sklearn ------> Linear_model --------> LogisticRegression.

from sklearn.linear_model import LogisticRegression

In [9]:
#Creating an instance of the Variable.

log = LogisticRegression()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [13]:
# setting the Independent and Dependent Variable.

x = df[["tenure"]]

y = df[["Churn"]]

In [15]:
#Here the Data is  Directly fitted to the Model..

#Here if we want to apply the random data for training We can use the train_test_split method...

log.fit(x,y)

C:\Users\NITHESH KUMAR\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [16]:
y_pred = log.predict(x)

In [18]:
#Actual Values of Y

y

     Churn
0       No
1       No
2      Yes
3       No
4      Yes
...    ...
7038    No
7039    No
7040    No
7041   Yes
7042    No

[7043 rows x 1 columns]

In [21]:
#predicted values of model y_pred..

list(y_pred[0:5])

['No', 'No', 'No', 'No', 'No']

In [22]:
# Here  to compare the actual and predicted values We us Confusion matrix..

#sklearn  ------> metrics ----------> confusion matrix..

from sklearn.metrics import confusion_matrix

In [23]:
confusion_matrix(y , y_pred)

array([[5163,   11],
       [1869,    0]], dtype=int64)

In [26]:
#from thr Above 2 d matrix ..

#                               prediction
#                              Yes           No
                              
# ActualValues |                      |
#              |                      |
#         Yes  |     5163             |     11
#              |                      |                              
#         No   |     1869             |      0
#              |                      |
    
    
#   Here 5163 are the True and model is predicted True.

#  Here 11 are the actual True and predicted False .

#  Here 1869 are actual as No and predicted Yes.

# Here 0 are actual is No  and presicted NO.

#--->Here diagonal values are 5163,0 are exact values .

#---> Here 11 , 1869 are the errors made by the Model.

# 11 ------>type 1 error

#1869 -----> type 2 error

In [30]:
# To check the performance of the Model.

from sklearn.metrics import accuracy_score

In [31]:
accuracy_score(y ,y_pred)

#Here our model got 73 % of the Accuracy .

0.7330682947607554

In [32]:
#Here same Using train_test_split

In [33]:
from sklearn.model_selection import train_test_split

In [35]:
x = df[["tenure"]]

y = df[["Churn"]]

In [36]:
#splitting the Dataset..usin train_test_split..

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state =10)

In [37]:
#Training the Model..

log.fit(x_train,y_train)

C:\Users\NITHESH KUMAR\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [39]:
#predicted the value of the y using x_test.
y_pred = log .predict(x_test)

In [43]:
#actual values
y_test

     Churn
6418    No
1948   Yes
4497    No
66      No
1705    No
...    ...
1901    No
5938    No
6373    No
1767    No
2184   Yes

[1409 rows x 1 columns]

In [42]:
#predicted values
y_pred

array(['No', 'No', 'No', ..., 'No', 'No', 'No'], dtype=object)

In [44]:
#To check the Accuracy of the Model..

from sklearn.metrics import accuracy_score

In [47]:
# from the below score of model ...we got better accuracy after splitting the dataa.
accuracy_score(y_test , y_pred)

0.7821149751596878

In [48]:
#confusion matrix

confusion_matrix(y_test,y_pred)

array([[1022,   44],
       [ 263,   80]], dtype=int64)

---------------------------XX End XX -------------------------------------------