import pandas as pd
# ^^^ pyforest auto-imports - don't write above this line
# Cross Validation:

<pre>The cross Validation is used to Increase the Performance of the Model.And Total Data is trained to the Model.

Cross-validation is a technique that is used for the assessment of how the results of statistical analysis generalize to an independent data set. Cross-validation is largely used in settings where the target is prediction and it is necessary to estimate the accuracy of the performance of a predictive model.

</pre>

<img src="https://www.researchgate.net/profile/Mingchao_Li/publication/331209203/figure/fig2/AS:728070977748994@1550597056956/K-fold-cross-validation-method.png">

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

In [5]:
from sklearn.datasets import load_boston

In [6]:
data1 = load_boston()

In [7]:
data1.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [9]:
df =data1.data

col = data1.feature_names

In [11]:
#Changing the Dict to the DataFrame .Intially it is in the Key value pair.

df = pd.DataFrame(df,columns=col)

In [13]:
#Assinging Target Variable to the DataFrame.

df['target']=data1.target

In [16]:
df.head(3) #Now data is ready

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7

In [22]:
#Assignging values to the Independent and Dependent Variables.

X = df.drop('target',axis=1)

y = df[['target']]

In [23]:
from sklearn.model_selection import train_test_split

In [26]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [28]:
model = LinearRegression()

In [27]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(354, 13)
(152, 13)
(354, 1)
(152, 1)

In [29]:
model = LinearRegression()

In [30]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [38]:
y_pred = model.predict(X_test)

In [43]:
y_test

     target
173    23.6
274    32.4
491    13.6
72     22.8
452    16.1
..      ...
441    17.1
23     14.5
225    50.0
433    14.3
447    12.6

[152 rows x 1 columns]

In [44]:
y_pred

array([[30.18371542],
       [33.85666113],
       [10.20740053],
       [23.03980185],
       [17.68583882],
       [22.57922987],
       [18.34337446],
       [12.54808997],
       [22.5605427 ],
       [20.43057618],
       [24.00867403],
       [19.84721088],
       [ 0.18613809],
       [20.22016253],
       [20.2075386 ],
       [23.78601092],
       [21.27279397],
       [ 8.20119503],
       [41.13270851],
       [16.98224723],
       [26.92162718],
       [30.78286501],
       [12.78119619],
       [22.5336381 ],
       [17.90153263],
       [17.2317376 ],
       [21.22855928],
       [15.9556855 ],
       [21.37348499],
       [18.96743762],
       [25.21902991],
       [24.3278414 ],
       [24.22220195],
       [17.58629312],
       [17.44055605],
       [16.91724981],
       [29.59751436],
       [20.40010596],
       [21.50609127],
       [22.51517494],
       [14.67694715],
       [34.50480508],
       [43.82126823],
       [17.33990655],
       [27.58470743],
       [17.09010857],
       [15.51872294],
       [23.4579567 ],
       [19.61699899],
       [29.92985727],
       [22.27485812],
       [34.68198138],
       [16.42445539],
       [24.44761693],
       [39.18585311],
       [20.32398278],
       [17.96074654],
       [33.91013684],
       [24.8601992 ],
       [14.55095813],
       [22.03692741],
       [31.30503384],
       [30.5857103 ],
       [16.32158876],
       [18.99886402],
       [16.99040055],
       [19.71344088],
       [25.88288865],
       [31.80799833],
       [13.73637643],
       [20.8720886 ],
       [25.61217201],
       [12.2765441 ],
       [15.78732825],
       [22.3334902 ],
       [ 8.32232729],
       [21.5857227 ],
       [42.88684812],
       [18.35640565],
       [ 5.71225822],
       [20.13707526],
       [15.22413742],
       [21.72739029],
       [10.95268769],
       [23.96035995],
       [29.84878578],
       [18.2575647 ],
       [24.20901633],
       [28.5937228 ],
       [17.58983485],
       [26.12819752],
       [ 9.32559972],
       [17.5080046 ],
       [14.08870129],
       [15.35469085],
       [18.08535056],
       [24.76264994],
       [ 6.11643344],
       [15.36913518],
       [18.77262448],
       [22.76935585],
       [22.64592559],
       [13.00332386],
       [18.70079992],
       [22.83585415],
       [15.03368989],
       [18.52671738],
       [22.98982849],
       [20.18178194],
       [24.87870132],
       [10.66010447],
       [20.78040455],
       [20.82089656],
       [29.32298452],
       [32.69610565],
       [16.64036145],
       [35.21870894],
       [14.49469887],
       [20.21267747],
       [28.14295894],
       [17.37258405],
       [22.79824279],
       [ 9.50381773],
       [23.44924291],
       [24.208249  ],
       [22.57503693],
       [24.7622364 ],
       [34.95637088],
       [17.50319968],
       [39.11486119],
       [16.24503235],
       [22.49511359],
       [18.62075501],
       [21.10044853],
       [ 9.97702232],
       [21.93013434],
       [22.08659415],
       [34.28198663],
       [31.6374173 ],
       [16.27071931],
       [17.16368001],
       [29.22986726],
       [26.80893058],
       [16.85761495],
       [ 8.94971339],
       [27.80236801],
       [18.95508761],
       [16.58363836],
       [14.89494882],
       [38.78773989],
       [17.20861616],
       [17.32467219]])

In [45]:
from sklearn.metrics import r2_score

In [47]:
r2_score(y_pred,y_test) #accuracy between the predicted and Actual.

0.6793796076333687

In [50]:
score = cross_val_score(model,X_train,y_train,cv=5)

In [51]:
score   #Here 75 is the Highest value.

array([0.74541483, 0.52216586, 0.75607169, 0.76738846, 0.64887182])