import pandas as pd
# ^^^ pyforest auto-imports - don't write above this line
# <u>Support Vector Machines :</u>

<pre>
“Support Vector Machine” (SVM) is a supervised machine learning algorithm which can be used for both classification or regression challenges. However,  it is mostly used in classification problems. In the SVM algorithm, we plot each data item as a point in n-dimensional space (where n is number of features you have) with the value of each feature being the value of a particular coordinate. Then, we perform classification by finding the hyper-plane that differentiates the two classes very well (look at the below snapshot).
</pre

<img src = "https://www.analyticsvidhya.com/wp-content/uploads/2015/10/SVM_1.png">
<img src = "https://miro.medium.com/max/875/1*dh0lzq0QNCOyRlX1Ot4Vow.jpeg" width="600" height="600">

In [21]:
#Importing the dataset.....Req for the Model.....

import numpy as np
import pandas as pd

In [39]:
#Importing the dataset...

from sklearn.datasets import load_iris

In [40]:
#Creating object to the variable

iris = load_iris()

In [41]:
#Checking the keys of the varible....iris

iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [42]:
#Making the iris as a Dataframe...

df = pd.DataFrame(iris['data'],columns=iris['feature_names'])

In [43]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [44]:
#Here we dont have the target column --->Adding to it ..

df['target']=iris['target']

In [45]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [48]:
#Importing the Model ...

from sklearn.svm import SVC

In [49]:
support = SVC(kernel='poly')

In [51]:
X = df.drop('target',axis=1)
y = df[['target']]

In [50]:
from sklearn.model_selection import train_test_split

In [52]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.8,random_state=42)

In [53]:
#Training the model...

support.fit(X_train,y_train)

C:\Users\NITHESH KUMAR\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [54]:
#Testing the model....
y_pred =support.predict(X_test)

In [55]:
#Checking the accuracy of the Model...

support.score(X_train,y_train)

0.9833333333333333

In [56]:
#Checking the accuracy of the model in test data...

support.score(X_test,y_test)

1.0

In [57]:
#constructing the confusion matrix...

from sklearn.metrics import confusion_matrix

In [58]:
confusion_matrix(y_test,y_pred)

array([[10,  0,  0],
       [ 0,  9,  0],
       [ 0,  0, 11]], dtype=int64)

In [59]:
#Actual values...

y_test.head(4)

     target
73        1
18        0
118       2
78        1

In [62]:
y_pred[0:4]

array([1, 0, 2, 1])

# Example -2 for SVM

In [1]:
#Importing the Dataset Required for the SVM ALgorithm...

In [3]:
#Importing the Housing Datset...

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#MAking the Dataframe...

df= pd.read_csv("https://raw.githubusercontent.com/NITHISHKUMAR9181/Machine-Learning/master/1.Datasets/House%20Dataset.csv")

In [6]:
df.head()

,price,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347,0
1,21.6,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146,1
2,34.7,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,NO,7.394,101.1200,None,38,YES,0.045764,0
3,33.4,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151,0
4,36.2,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474,0

In [7]:
#Finding the correlation from the datset..

df.corr()

,price,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,parks,Sold
price,1.000000,-0.484754,-0.429300,0.696304,-0.377999,0.251355,0.249459,0.246650,0.248200,0.505655,-0.740836,0.109646,0.023122,-0.047426,-0.391574,-0.154698
resid_area,-0.484754,1.000000,0.763651,-0.391676,0.644779,-0.706481,-0.707956,-0.707566,-0.705819,-0.383248,0.603800,0.005827,-0.000839,0.055810,0.707635,0.024404
air_qual,-0.429300,0.763651,1.000000,-0.302188,0.731470,-0.768589,-0.769724,-0.769157,-0.764873,-0.188933,0.590879,-0.049954,-0.004882,0.092104,0.915544,-0.004017
room_num,0.696304,-0.391676,-0.302188,1.000000,-0.240265,0.208464,0.203981,0.201907,0.205397,0.355501,-0.613808,0.032207,0.030674,-0.064694,-0.282817,0.027148
age,-0.377999,0.644779,0.731470,-0.240265,1.000000,-0.746904,-0.746493,-0.747021,-0.746707,-0.261515,0.602339,-0.021102,0.009380,0.075198,0.673850,-0.016291
dist1,0.251355,-0.706481,-0.768589,0.208464,-0.746904,1.000000,0.997905,0.997735,0.994073,0.232834,-0.498823,-0.030550,-0.014463,-0.036794,-0.706319,-0.035309
dist2,0.249459,-0.707956,-0.769724,0.203981,-0.746493,0.997905,1.000000,0.998097,0.994003,0.233707,-0.495693,-0.031248,-0.010239,-0.038005,-0.708237,-0.040356
dist3,0.246650,-0.707566,-0.769157,0.201907,-0.747021,0.997735,0.998097,1.000000,0.994126,0.233588,-0.494290,-0.028471,-0.010077,-0.041470,-0.709346,-0.035768
dist4,0.248200,-0.705819,-0.764873,0.205397,-0.746707,0.994073,0.994003,0.994126,1.000000,0.228256,-0.496084,-0.021648,-0.005850,-0.032542,-0.703508,-0.043612
teachers,0.505655,-0.383248,-0.188933,0.355501,-0.261515,0.232834,0.233707,0.233588,0.228256,1.000000,-0.374044,-0.008130,-0.023343,-0.045836,-0.187004,0.042525
poor_prop,-0.740836,0.603800,0.590879,-0.613808,0.602339,-0.498823,-0.495693,-0.494290,-0.496084,-0.374044,1.000000,-0.066434,0.003337,0.061581,0.552310,-0.082776
n_hos_beds,0.109646,0.005827,-0.049954,0.032207,-0.021102,-0.030550,-0.031248,-0.028471,-0.021648,-0.008130,-0.066434,1.000000,-0.005461,0.058997,-0.072002,0.067391
n_hot_rooms,0.023122,-0.000839,-0.004882,0.030674,0.009380,-0.014463,-0.010239,-0.010077,-0.005850,-0.023343,0.003337,-0.005461,1.000000,-0.004840,0.006262,-0.077333
rainfall,-0.047426,0.055810,0.092104,-0.064694,0.075198,-0.036794,-0.038005,-0.041470,-0.032542,-0.045836,0.061581,0.058997,-0.004840,1.000000,0.078641,-0.040581
parks,-0.391574,0.707635,0.915544,-0.282817,0.673850,-0.706319,-0.708237,-0.709346,-0.703508,-0.187004,0.552310,-0.072002,0.006262,0.078641,1.000000,0.004808
Sold,-0.154698,0.024404,-0.004017,0.027148,-0.016291,-0.035309,-0.040356,-0.035768,-0.043612,0.042525,-0.082776,0.067391,-0.077333,-0.040581,0.004808,1.000000

In [8]:
#Geting the information about the datset...

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        506 non-null    float64
 1   resid_area   506 non-null    float64
 2   air_qual     506 non-null    float64
 3   room_num     506 non-null    float64
 4   age          506 non-null    float64
 5   dist1        506 non-null    float64
 6   dist2        506 non-null    float64
 7   dist3        506 non-null    float64
 8   dist4        506 non-null    float64
 9   teachers     506 non-null    float64
 10  poor_prop    506 non-null    float64
 11  airport      506 non-null    object
 12  n_hos_beds   498 non-null    float64
 13  n_hot_rooms  506 non-null    float64
 14  waterbody    506 non-null    object
 15  rainfall     506 non-null    int64
 16  bus_ter      506 non-null    object
 17  parks        506 non-null    float64
 18  Sold         506 non-null    int64
dtypes: float64(14), int64(2), object(3)
memory usage: 75.2+ KB

In [9]:
#Here some of the columns are the objects it means strings....
#The string data is never passed to the model...It may degrades the performance of the model.
#Here after observing thr information of the dataset..Here n_hos_beds column has null vlues ,so we have to fill the column,,,..

In [10]:
#Here making the string data into the numerical data using dummy variables...

In [11]:
df['airport'] = pd.get_dummies(df['airport'])

In [12]:
df.head()

,price,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,0,5.480,11.1920,River,23,YES,0.049347,0
1,21.6,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,1,7.332,12.1728,Lake,42,YES,0.046146,1
2,34.7,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,1,7.394,101.1200,None,38,YES,0.045764,0
3,33.4,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,0,9.268,11.2672,Lake,45,YES,0.047151,0
4,36.2,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,1,8.824,11.2896,Lake,55,YES,0.039474,0

<pre>Here succesfullly we made the string data into the numnerical column...Here <h3>waterbody , bus_ter</h3> is also a string data...So,We have to change it </pre>

In [26]:
df['waterbody']= pd.get_dummies(df['waterbody'])

In [27]:
df['bus_ter'] = pd.get_dummies(df['bus_ter'])

In [28]:
#Visualizing the dataframe after the changes made from string data to the numerical columns..

In [29]:
df.head()

,price,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,0,5.480,11.1920,1,23,1,0.049347,0
1,21.6,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,1,7.332,12.1728,0,42,1,0.046146,1
2,34.7,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,1,7.394,101.1200,1,38,1,0.045764,0
3,33.4,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,0,9.268,11.2672,0,45,1,0.047151,0
4,36.2,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,1,8.824,11.2896,0,55,1,0.039474,0

In [30]:
#And we have null values in the dataset of the column -->n_hos_beds..

In [31]:
df['n_hos_beds']=df['n_hos_beds'].fillna(df['n_hos_beds'].mean())

In [32]:
df.head()

,price,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks,Sold
0,24.0,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,0,5.480,11.1920,1,23,1,0.049347,0
1,21.6,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,1,7.332,12.1728,0,42,1,0.046146,1
2,34.7,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,1,7.394,101.1200,1,38,1,0.045764,0
3,33.4,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,0,9.268,11.2672,0,45,1,0.047151,0
4,36.2,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,1,8.824,11.2896,0,55,1,0.039474,0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        506 non-null    float64
 1   resid_area   506 non-null    float64
 2   air_qual     506 non-null    float64
 3   room_num     506 non-null    float64
 4   age          506 non-null    float64
 5   dist1        506 non-null    float64
 6   dist2        506 non-null    float64
 7   dist3        506 non-null    float64
 8   dist4        506 non-null    float64
 9   teachers     506 non-null    float64
 10  poor_prop    506 non-null    float64
 11  airport      506 non-null    uint8
 12  n_hos_beds   506 non-null    float64
 13  n_hot_rooms  506 non-null    float64
 14  waterbody    506 non-null    uint8
 15  rainfall     506 non-null    int64
 16  bus_ter      506 non-null    uint8
 17  parks        506 non-null    float64
 18  Sold         506 non-null    int64
dtypes: float64(14), int64(2), uint8(3)
memory usage: 64.9 KB

In [34]:
#Ha Yes Now the datset is ready to the mOdel./...

In [37]:
#Importing the Model SVC

from sklearn.svm import SVC

Here Important point in the SVM is the Option is Kernel..... 'linear', 'poly', 'rbf', 'sigmoid', 'precomputed'.

In [56]:
#Creating the object for the SVC...


Vector = SVC(kernel='poly')

In [57]:
#Making the dataset into train and test ..

from sklearn.model_selection import train_test_split

In [58]:
#Here the dataset is divided into X and y Valribles..

X= df.drop('Sold',axis=1)
y = df[['Sold']]

X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.8,random_state=42)

In [59]:
#We have divided the train and test data...

#Training the Model...

Vector.fit(X_train,y_train)

C:\Users\NITHESH KUMAR\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [60]:
#Predicting the output of the model..

y_pred=Vector.predict(X_test)

In [61]:
#Checking the Accuracy of the model in the test data...

from sklearn.metrics import accuracy_score

In [62]:
accuracy_score(y_test,y_pred)*100

61.76470588235294

In [64]:
#Checking the accuracy during the training dataa..

Vector.score(X_train,y_train)

0.6683168316831684

In [65]:
#Important checking the performance during the kernel=rbf,sigmoid.

<h3>Kernel = 'rbf'</h3>

In [66]:
Vector1 = SVC(kernel='rbf')

In [67]:
Vector1.fit(X_train,y_train)

C:\Users\NITHESH KUMAR\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [70]:
#Checking the model accuracy during the training..

Vector1.score(X_train,y_train)

0.6064356435643564

In [73]:
#Checking the model accuracy during the test data..
Vector1.score(X_test,y_test)

0.6372549019607843

<h3>Kernel = 'sigmoid' </h3>

In [75]:
Vector2 = SVC(kernel='sigmoid')

In [78]:
Vector2.fit(X_train,y_train)

C:\Users\NITHESH KUMAR\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='sigmoid',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [79]:
#Checking the accuracy during the train dataa...
Vector2.score(X_train,y_train)

0.46782178217821785

In [81]:
#Checking the accuracy during the test dataa...

Vector2.score(X_test,y_test)

0.45098039215686275

# Kernel = Precomputed

<pre>You can pass pre-computed kernels by using the kernel='precomputed' option. You should then pass Gram matrix instead of X to the fit and predict methods. The kernel values between all training vectors and the test vectors must be provided:</pre>

In [8]:
>>> import numpy as np
>>> from sklearn.datasets import make_classification
>>> from sklearn.model_selection import train_test_split
>>> from sklearn.svm import SVC
>>> X, y = make_classification(n_samples=10, random_state=0)
>>> X_train , X_test , y_train, y_test = train_test_split(X, y, random_state=0)
>>> clf = SVC(kernel='precomputed')
>>> # linear kernel computation
>>> gram_train = np.dot(X_train, X_train.T)
>>> clf.fit(gram_train, y_train)
SVC(kernel='precomputed')
>>> # predict on training examples
>>> gram_test = np.dot(X_test, X_train.T)
>>> clf.predict(gram_test)

array([0, 1, 0])

In [12]:
X[1:5]

array([[-0.15501009,  1.92294203, -0.86122569,  0.99958558,  0.96939671,
         0.94725197,  1.91006495,  1.48051479, -0.26800337,  0.90604466,
        -0.41361898, -0.98740462,  1.86755896, -0.0568887 , -0.74745481,
        -1.270485  ,  1.94362119,  0.8024564 , -1.17312341,  1.20960511],
       [ 0.0519454 , -0.67246045,  0.17742614, -0.51203824,  0.42833187,
        -0.90729836, -0.40178094, -0.35955316, -1.63019835, -1.7262826 ,
        -0.63432209, -1.60020786, -0.81314628, -0.80328386, -0.36274117,
        -0.02818223,  0.3024719 ,  0.46278226,  0.06651722,  1.23271508],
       [-1.34775906,  0.20827498,  0.01050002,  1.50037656, -0.17992484,
         1.8831507 ,  1.78587049,  0.97663904,  0.12691209,  0.70657317,
        -0.40317695, -1.43411205,  0.3563664 , -0.06642482,  1.22244507,
         1.17877957,  1.05445173,  0.40198936, -1.07075262,  1.77341402],
       [ 0.03183056, -0.69456786,  0.67229476,  1.27804656,  0.92220667,
        -0.67433266,  0.40746184, -0.14963454, -0.76991607,  1.84926373,
         0.29823817, -1.19536732, -0.43515355, -0.04621249,  1.3263859 ,
         0.61407937, -1.09940079,  0.53924919,  0.37642553,  1.48755048]])

# Kernel ="linear"

In [4]:
import numpy as np
X = np.array([[-1, -1], [-2, -1], [1, 1], [2, 1]])
y = np.array([1, 1, 2, 2])

In [5]:
from sklearn.svm import SVC
clf = SVC(kernel='linear')
clf.fit(X, y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [6]:
prediction = clf.predict([[0,6]])

In [7]:
prediction

array([2])